*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

application/config/database.php

uploads/banner/*
!uploads/banner/.gitkeep 
uploads/client/*
!uploads/client/.gitkeep
uploads/galeri/*
!uploads/galeri/.gitkeep
uploads/kategori_layanan/*
!uploads/kategori_layanan/.gitkeep
uploads/kontak_kami/*
!uploads/kontak_kami/.gitkeep
uploads/layanan/*
!uploads/layanan/.gitkeep
uploads/logo/*
!uploads/logo/.gitkeep
uploads/main_popup/*
!uploads/main_popup/.gitkeep
uploads/tentang_kami/*
!uploads/tentang_kami/.gitkeep
uploads/testimoni/*
!uploads/testimoni/.gitkeep