*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

uploads/banner/*
uploads/client/*
uploads/galeri/*
uploads/kategori_layanan/*
uploads/kontak_kami/*
uploads/logo/*
uploads/main_popup/*
uploads/tentang_kami/*
uploads/testimoni/*